.users {
    width: 100%;
    width: 800px;
}
.users__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    /* width: 100%; */
}

.users__card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: center; */

    gap: 8px;
}

.users__card h3 {
    /* margin-bottom: 10px; */
    color: #333;
}
.users__card button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
